.cover {
  max-width: 1280px;
  width: 100%;
  box-sizing: border-box;
  padding: 0 calc((100% - 1184px)/2);
  margin: 0 auto;
}

@media screen and (max-width: 1210px) {
  .cover {
    max-width: 1210px;
    padding: 0 calc((100vw - 1024px)/2);
  }
}

@media screen and (max-width: 984px) {
  .cover {
    max-width: 984px;
    padding: 0 calc((100vw - 768px)/2);
  }
}

@media screen and (max-width: 730px) {
  .cover {
    max-width: 730px;
    padding: 0 calc((100vw - 500px)/2);
  }
}

@media screen and (max-width: 430px) {
  .cover {
    max-width: 730px;
    padding: 0 calc((100vw - 320px)/2);
  }
}
